html{
    background-color: black;
    
    @media (max-width: 767px) and (orientation: portrait) {
        /*
          transform: rotate(-90deg);
          transform-origin: left top;
          width: 100vh;
          height: 100vw;
          overflow-x: hidden;
          position: absolute;
          top: 100%;
          left: 0;
        */
      }
    
}



body{
    background-image: url(../images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}



header{
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    @media (max-width: 767px) and (orientation: portrait) {
        padding-top: 2rem;
        padding-bottom: 0rem;
    }
    @media (max-width: 767px) and (orientation: portrait) and (min-height:700px){
        padding-top: 7rem;
        padding-bottom: 8rem;
    }
    @media(min-width: $tablet){
        padding-bottom: 0rem;
        //padding-top: 2rem;
    }
    @media(min-width: $tablet) and (min-height:400px){
        padding-bottom: 2rem;
        //padding-top: 0rem;
    }
    @media(min-width: $tablet) and (min-height:599px){
        padding-bottom: 3rem;
        padding-top: 4rem;
    }
    @media(min-width: $desktop){
        padding-bottom: 2rem;
        padding-top: 5rem;
    }

    .header_frame{
        position: relative;
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 90%;
        height: 11rem;
    
        background-image: url(../images/header_frame.png);
        background-repeat: no-repeat;
        background-position: center;


        background-size: contain;

        
        
        @media(min-width: $tablet){
            height: 11rem;
        }
        @media(min-width: $tablet) and (min-height:599px){
            height: 15rem;
        }
        @media(min-width: $desktop){
            height: 23rem;
        }
        h1{
            font-size: 1.6rem;
            font-family: "retro";
            text-align: center;
            line-height: 3rem;
            @media(min-width: $tablet){
                font-size: 1.6rem;
                line-height: 3rem;
            }
            @media(min-width: $tablet) and (min-height:599px){
                font-size: 2rem;
                line-height: 4rem;
            }
            @media(min-width: $desktop){
                font-size: 4rem;
                line-height: 5.2rem;
            }
        }
        .main_h1{
            position: absolute;
            color: white;
            z-index: 2;
        }
        .shadow_h1{
            position: absolute;
            color: #231E2B;
            transform: translate(-0.30rem,0.30rem);
            z-index: 1;
            @media(min-width: $tablet){
                transform: translate(-0.40rem,0.40rem);
            }
            @media(min-width: $desktop){
                transform: translate(-0.60rem,0.60rem);
            }
        }
        
    }
}



.game{
    opacity: 1;
    
    .game__container{
        max-width: 128rem;
        width: 95vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto 1rem;
        background-color: transparent;
        @media (max-width: 767px) and (orientation: portrait) {
            flex-wrap: wrap;
            width: 90vw;
            margin-top: 8rem;
        }
        
        @media(min-width: $tablet){
            flex-wrap: wrap;
            width: 60vw;
            margin-top: 2rem;
        }
        @media(min-width: $tablet) and (min-height:599px){
            flex-wrap: wrap;
            width: 75vw;
            justify-content: space-between;
            margin:2rem auto 5rem;
        }
        @media(min-width: $desktop){
            //aspect-ratio: 16/9;
            justify-content: space-between;
            width: 100rem;
            margin: 5rem auto 5rem;
        }
        .option_frame{
            width: 15.3rem;
            height: 14rem;
            background-image: url(../images/choice_frame.png);
            background-size: contain;
            @media (max-width: 767px) and (orientation: portrait) {
                margin: 0 1rem;
                width: 12rem;
                height: 11rem;
            }
            @media (max-width: 767px) and (orientation: portrait) and (min-height:700px){
                //margin: 0 1rem;
                width: 14rem;
                height: 12.8rem;
            }
            @media(min-width: $tablet){
                width: 14rem;
                height: 12.8rem;
            }
            @media(min-width: $tablet) and (min-height:599px){
                width: 22rem;
                height: 20.2rem;
            }
            @media(min-width: $desktop){
                width: 33.3rem;
                height: 30.5rem;
            }
        }
        .game__area{
            width: 11.6rem;
            height: 100%;
            //background-color: burlywood;
            margin:0 auto;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            @media (max-width: 767px) and (orientation: portrait) {
                width: 9.1rem;
                height: 100%;
            }
            @media (max-width: 767px) and (orientation: portrait) and (min-height:700px){
                width: 10.6rem;
                height: 100%;
            }
            
            @media(min-width: $tablet){
                width: 76%;
                height: 100%;
            }
            @media(min-width: $desktop){
                width: 76%;
                height: 100%;
            }
            @media(min-width: $desktopHD){
                width: 76%;
                height: 100%;
            }
        }
        .game__area__name{
            font-size: 4rem;
            text-align: center;
        }
        .game__vs{
            width: 6rem;
            height: 14rem;
            margin: 0 -2rem 1rem;
            //background-color: cadetblue;
            padding-bottom: 1rem;
            background-image: url(../images/vs_frame.png);
            background-size: contain;
            background-position: bottom;
            background-repeat: no-repeat;
            position: relative;
            @media (max-width: 767px) and (orientation: portrait) {
                order:3;
                margin: 0 10rem 2rem;
            }
            @media (max-width: 767px) and (orientation: portrait) and (min-height:700px){
                //order:unset;
                margin: 5rem 10rem 2rem;
            }

            @media(min-width: $tablet){
                margin: -0.5rem 0rem 1rem;
            }
            @media(min-width: $tablet) and (min-height:599px){
                width: 8rem;
                height: 18rem;
                margin: -0.5rem 2.5rem 2rem;
            }
            @media(min-width: $desktop){
                width: 15rem;
                height: 30rem;
                margin: 0 auto 2rem;
            }

            canvas{
                display: none;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-120%);
                @media(min-width: $tablet){
                    transform: translate(-50%,-110%);
                }
                @media(min-width: $desktop){
                    
                }
            }
        }
        .game__vs__style{
            font-size: 16rem;
            text-align: center;
        }
    }
    
    #choice_container{
        display: flex;
        max-width: 50%;
        
        margin: 0 auto;
        justify-content: start;

        overflow-x: scroll; 

        
        @media (max-width: 767px) and (orientation: portrait) {
            max-width: 80%;
        }
       

        @media(min-width: $tablet){
            max-width: 50vw;
        }
        @media(min-width: $tablet) and (min-height:599px){
            max-width: 75vw;
        }
        @media(min-width: $desktop){
            max-width: 100rem;
            padding-bottom: 1rem; 
        }
        .choice_frame{
            min-width: 2rem;
            height: 2rem;
            margin: 0 0.1rem;

            background-image: url(../images/chest_close.png);
            background-size: contain;
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;
            .white_circle{
                width: 40%;
                height: 40%;
                border-radius: 50%;
                border: 5px solid white;
                opacity: 0;
                
            }
            .white_circle_ani{
                animation: white_circle 0.2s 1 linear;
            }

            @media (max-width: 767px) and (orientation: portrait) and (min-height:700px){
                min-width: 2.4rem;
                height: 2.4rem;
                margin: 0 0.2rem;
            }
            
            @media(min-width: $tablet){
                min-width: 2.4rem;
                height: 2.4rem;
                margin: 0 0.2rem;
            }
            @media(min-width: $tablet) and (min-height:599px){
                min-width: 4rem;
                height: 4rem;
                margin: 0 0.3rem;
            }
            @media(min-width: $desktop){
                min-width: 6.6rem;
                height: 6.6rem;
                margin: 0 0.9rem;
            }
            
        }
    }
 
}

@keyframes white_circle {
    15%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        width: 100%;
        height: 100%;
    }
  }
.damage{
    animation: damage 1s 1 linear;
}
@keyframes damage {
    10%{
        opacity: 1;
    }
    20%{
        opacity: 0.3;
    }
    30%{
        opacity: 1;
    }
    40%{
        opacity: 1;
    }
    50%{
        opacity: 0.3;
    }
    60%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    80%{
        opacity: 0.3;
    }
    90%{
        opacity: 1;
    }
  }


#game__win__container{
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    .game__win{
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        //gap:0.5rem;

        width: 95%;
        height: 95%;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);

        background-image: url(../images/winner_frame.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        @media (max-width: 767px) and (orientation: landscape) {
            width: calc(100vh*0.95*(185/275));
        }
        @media (max-width: $desktop) and (orientation: landscape) and (min-height:350px) {
            width: calc(100vh*0.95*(185/275));
            gap:0.5rem;
        }
        @media(min-width: $tablet){
            
        }
        @media(min-width: $tablet) and (min-height:599px){
            
        }
        @media(min-width: $desktop){
            width: calc(100vh*0.95*(185/275));
        }
        @media(min-width: $desktopHD){
            height: 95%;
            width: 40%;
        }
        .game__win__title{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 0;
            width: 80%;
            margin: 0 auto 3rem;
            
            @media (max-width: 767px) and (orientation: landscape) {
                margin: 0 auto 1.5rem;
            }
            @media(min-width: 800px) and (orientation: landscape) {
                margin: 0 auto 1rem;
            }
            @media(min-width: 800px) and (orientation: landscape)and (min-height: 400px){
                margin: 0 auto 1.5rem;
            }
            
            @media(min-width: 599px) and (orientation: portrait){
                margin: 0 auto;
                height: 10rem;
            }
            @media(min-width: $desktop){
                padding-top: 1rem;
                margin: 0 auto 5rem;
            }
            @media(min-width: 799px) and (min-height:599px) and (orientation: portrait){
                padding-top: 1rem;
                margin: 0 auto 3rem;
            }
            h2{
                font-size: 1.6rem;
                font-family: "retro";
                text-align: center;
                line-height: 1rem;
                @media (min-width: 400px) and (orientation: portrait) {
                    font-size: 2rem;
                    margin-top: -2rem;
                }
                @media (max-width: 767px) and (orientation: landscape) {
                    font-size: 1.1rem;
                }
                @media(min-width: $tablet) and (min-height:350px) and (orientation: landscape){
                    font-size: 1.1rem;
                }
                @media(min-width: 599px) and (orientation: portrait){
                    font-size: 2.8rem;
                    line-height: 4rem;
                }
                @media(min-width: 800px) and (orientation: landscape) {
                    font-size: 1.1rem;
                }
                @media(min-width: 800px) and (orientation: landscape)and (min-height: 400px){
                    font-size: 1.3rem;
                }
                @media(min-width: 800px) and (orientation: landscape) and (min-height: 599px){
                    font-size: 2rem;
                    line-height: 4rem;
                }
                @media(min-width: 799px) and (min-height:599px) and (orientation: portrait){
                    font-size: 3.5rem;
                    line-height: 4rem;
                }
                @media(min-width: $desktop){
                    font-size: 2.8rem;
                    line-height: 4rem;
                }
                @media(min-width: $desktopHD){
                    font-size: 3.5rem;
                    line-height: 4rem;
                }
            }
            .main_h2{
                position: absolute;
                color: white;
                z-index: 2;
            }
            .shadow_h2{
                position: absolute;
                color: #231E2B;
                transform: translate(-0.30rem,0.30rem);
                z-index: 1;
                @media(min-width: $tablet){
                    transform: translate(-0.40rem,0.40rem);
                }
                @media(min-width: $desktop){
                    transform: translate(-0.60rem,0.60rem);
                }
            }
        }
        .option_frame{
            width: 15.3rem;
            height: 14rem;
            background-image: url(../images/choice_frame.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 auto;
            @media (max-width: 767px) and (orientation: portrait) {
                width: 12rem;
                height: 11rem;
            }
            @media (min-width: 350px) and (orientation: landscape) {
                width: 8rem;
                height: 7.3rem;
            }
            @media (min-width: 500px) and (orientation: landscape) {
                width: 10rem;
                height: 9.1rem;
            }
            @media (min-width: $tablet) and (orientation: landscape)  and (max-height:700px) {
                width: 14rem;
                height: 12.8rem;
            }
            @media (min-width: $tablet) and (orientation: landscape)  and (max-height:400px) {
                width: 10rem;
                height: 9.1rem;
            }
            @media (min-width: 300px) and (orientation: portrait) and (min-height:700px){
                width: 14rem;
                height: 12.8rem;
            }
            @media (min-width: 400px) and (orientation: portrait) and (min-height:700px){
                width: 20rem;
                height: 18.3rem;
            }
            @media(min-width: $tablet){
                width: 14rem;
                height: 12.8rem;
            }
            
            @media (min-width: 599px) and (orientation: portrait)  {
                width: 33.3rem;
                height: 30.5rem;
            }
            @media(min-width: $tablet) and (min-height:599px){
                width: 22rem;
                height: 20.2rem;
            }
            @media(min-width: 799px) and (min-height:599px) and (orientation: portrait){
                width: 33.3rem;
                height: 30.5rem;
            }
            @media(min-width: $desktop){
                width: 33.3rem;
                height: 30.5rem;
            }
            .game__winner{
                width: 76%;
                height: 100%;
                margin:0 auto;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @media (max-width: 767px) and (orientation: portrait) {
                    width: 76%;
                    height: 100%;
                }
                @media (max-width: 767px) and (orientation: landscape) {
                    width: 75%;
                    height: 100%;
                }
                @media (max-width: 767px) and (orientation: portrait) and (min-height:700px){
                    width: 76%;
                    height: 100%;
                }
                
                @media(min-width: $tablet){
                    width: 76%;
                    height: 100%;
                }
                @media(min-width: $desktop){
                    width: 76%;
                    height: 100%;
                }
                @media(min-width: $desktopHD){
                    width: 76%;
                    height: 100%;
                }
            }
        }
        .game__win__message{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 33.3rem;
            min-height: 12rem;
            font-size: 3.2rem;
            line-height: 4.4rem;
            font-family: "retro";
            text-align: center;
            color: #FFFFFF;
            @media (max-width: 767px) and (orientation: landscape) {
                width: 50%;
                font-size: 2rem;
                line-height: 3.5rem;
                min-height: 8rem;
            }
            @media(min-width: $tablet) and (min-height:350px) and (orientation: landscape){
                width: 50%;
                font-size: 2rem;
                line-height: 3.5rem;
                min-height: 7rem;
            }
            @media(min-width: $tablet) and (min-height:599px) and (orientation: landscape){
                width: 50%;
                font-size: 2.5rem;
                line-height: 3.5rem;
                min-height: 10rem;
            }
            
            @media(min-width: 599px)  and (orientation: portrait){
                width: 50%;
                font-size: 3.2rem;
                line-height: 4.4rem;
                min-height: 14rem;
            }
            @media(min-width: 799px) and (min-height:599px) and (orientation: portrait){
                width: 50%;
                font-size: 3.2rem;
                line-height: 4.4rem;
                min-height: 18rem;
            }
            @media(min-width: $desktop){
                width: 50%;
                font-size: 3.2rem;
                line-height: 4.4rem;
                min-height: 14rem;
            }
            @media(min-width: $desktopHD){
                font-size: 4rem;
                line-height: 4.4rem;
                min-height: 20rem;
            }
        }
        .game__win__options{
            width: 80%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            .game__win__options__gameover{
                width: 100%;
                //height: 8.8rem;
                aspect-ratio: 9/2;
                @media (max-width: 767px) and (orientation: portrait) {
                    
                }
                @media (max-width: 767px) and (orientation: landscape) {
                    width: 90%
                }
                @media (max-width: 767px) and (orientation: portrait) and (min-height:700px){
                    
                }
                
                @media(min-width: $tablet){
                   
                }
                @media(min-width: $desktop){
                    width: 90%;
                }
                @media(min-width: $desktopHD){
                    width: 70%;
                }
                position: relative;
                -webkit-perspective: 600px;
	            -moz-perspective: 600px;
                perspective: 600px;
                .game__win__options__gameover_front{
                    position: absolute;
                    top:50%;
                    left: 50%;
                    z-index: 900;
                    width: 100%;
                    height: 100%;
                    
                    
                    -webkit-transform: rotateX(0deg) rotateY(0deg) translate(-50%,-50%);
                    -moz-transform: rotateX(0deg) rotateY(0deg) translate(-50%,-50%);
                    transform-origin: top center;
                    -webkit-transform-style: preserve-3d;
                    -moz-transform-style: preserve-3d;
                    -webkit-backface-visibility: hidden;
                    -moz-backface-visibility: hidden;
                    -webkit-transition: all .4s ease-in-out;
                    -moz-transition: all .4s ease-in-out;
                    -ms-transition: all .4s ease-in-out;
                    -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                    img{
                        margin: 0 auto;
                        min-width: 100%;
                        min-height: 100%;
                    }
                }
                .game__win__options__gameover_back{
                    position: absolute;
                    z-index: 1000;
                    top:50%;
                    left: 50%;
                    width: 100%;
                    height: 100%;
                    
                    -webkit-transform: rotateX(-180deg) translate(-50%,-50%);
                    -moz-transform: rotateX(-180deg) translate(-50%,-50%);
                    transform-origin: top center;
                    -webkit-transform-style: preserve-3d;
                    -moz-transform-style: preserve-3d;
                    -webkit-backface-visibility: hidden;
                    -moz-backface-visibility: hidden;
                    -webkit-transition: all .4s ease-in-out;
                    -moz-transition: all .4s ease-in-out;
                    -ms-transition: all .4s ease-in-out;
                    -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                    img{
                        margin: 0 auto;
                        min-width: 100%;
                        min-height: 100%;
                    }
                }
                &:hover{
                    .game__win__options__gameover_front{
                        z-index: 900;
                        transform-origin: top center;
                        -webkit-transform: rotateX(180deg) translate(-50%,-50%);
                        -moz-transform: rotateX(180deg) translate(-50%,-50%);
                        transform: rotateX(180deg) translate(-50%,-50%);
                    }
                    .game__win__options__gameover_back{
                        z-index: 1000;
                        transform-origin: top center;
                        -webkit-transform: rotateX(0deg) rotateY(0deg) translate(-50%,-50%);
                        -moz-transform: rotateX(0deg) rotateY(0deg) translate(-50%,-50%);
                        transform: rotateX(0deg) rotateY(0deg) translate(-50%,-50%);
                    }
                }
                @media (max-width: 767px) and (orientation: landscape) {
                    margin-bottom: 1rem;
                }
                margin-bottom: 1.5rem;
               
            }
            
            .game__win__options__share{
                width: 100%;
                //height: 8.8rem;
                aspect-ratio: 9/2;
                @media (max-width: 767px) and (orientation: portrait) {
                    
                }
                @media (max-width: 767px) and (orientation: landscape) {
                    width: 90%
                }
                @media (max-width: 767px) and (orientation: portrait) and (min-height:700px){
                    
                }
                
                @media(min-width: $tablet){
                   
                }
                @media(min-width: $desktop){
                    width: 90%;
                }
                @media(min-width: $desktopHD){
                    width: 70%;
                }
                img{
                    margin: 0 auto;
                    min-width: 100%;
                    min-height: 100%;
                }
            }  
        }
    }
}

